
/* Especialidades */
.esp-btn{
    background-color: black;
}
.imghvr-shutter-in-out-diag-2{
    line-height: normal;
    border-top: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    
}
/**/

#contacto{
    top: -80px;
}
#Historia{
    margin-top: 60px;
}
body{
    color:aliceblue;
    background-color: #333;
    font-family: verdana;
}
h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
.iconos{
    height: 62px;
    
}
.item sld{
    width: 50%;
    height: 40%;
}
.texto{
    text-underline-position: auto;
    color: black;
    text-decoration: none;
   -webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}
div > h3 > div >{
    display: none;
}
  .container {
      padding:0px;
      margin: 0px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(10%);
      filter: grayscale(10%); /* make all photos black and white */
      width: 100%;  /* Set width to 100% */
      margin: auto;

  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
  }
  .bg-1 h1{
      color: #bdbdbd;
  }
  .bg-1 h3 {color:black;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      display: block;
      background-color: dimgrey;
      padding: 0 0 15px 0;
      border: none;
      border-radius: 3;
  }

.thumbnail:hover{
    color: #fff;
    display: block;
    line-height: 50px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: white;
    -webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

a .thumbnail{
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}
a .thumbnail {
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0px;
}

.thumbnail > span img{
    display: block;
    line-height: 0px;
}
div .container > h1 > div > a:hover > .thumbnail > span{
    top: 0;
    -webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}
  .thumbnail img {
      padding:0px;
      margin-top: 10px;
  }
  .thumbnail p {
      margin-top: 15px;
      background-color: black;
  }

  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: left;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a .active {
      color: gainsboro;
      
  }
 .nav-tabs li a:hover {
      color: ghostwhite;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: gainsboro;
      border: 0;
      font-size: 11px;
      letter-spacing: 4px;
      opacity: 0.7;
      
  }
  .navbar li a, .navbar .navbar-brand { 
      color: ghostwhite;
  }
  .navbar-nav li a:hover {
      color: ghostwhite;
  }
  .navbar-nav li.active a {
      color: #fff;
      background-color: gainsboro;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555;
  }
  .dropdown-menu li a {
      color: #000;
  }
  .dropdown-menu li a:hover {
      background-color: red;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
  .alineado{
    text-align: left;
  }
.Esp{
    background-color: black;
    margin-bottom: 10%;
}
.titulo{
    color: aliceblue;
    margin: 5%;
    text-align: center;
}
.txt{
    text-align: center;
}